* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #A9D7E9;    
}

.title {
    font-size: 70px;
    margin-bottom: 20px;
}

section{
    background: #F3F3F3;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 800px;
    padding: 25px 14px 25px 14px;
}

h1{
    text-align: center;
}

.btn {
    background: #6BA2CE;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 17px;
    align-items: center;
}

section>div{
    display: flex;
    align-content: stretch;
    flex-direction: column;
    width: 100%;
}
section>div>div{
    width: 70px;
}

input, select{
    height: 30px;
    border-radius: 5px;
    border: 1px solid darkgray;
}
label{
    vertical-align: 10px;
    
}
section :nth-child(5)>:nth-child(2)>label, section> :nth-child(6)>:nth-child(2)>label{
    vertical-align: center;
    margin-left: 7px;
}

input {
    padding: 10px;
  border: none;
}

section .form-item {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

section .form-item label {
    flex-basis: 50%;
    text-align: right;
}

section .form-item label {
    flex-basis: 50%;
    align-items: flex-start;
    margin-right: 20px;
}

section .form-item .form-item-input, .form-item-select, .form-item-textarea, .form-item-radio {
    flex-basis: 50%;
}
.col-md-12 {
    padding: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;

}